<div *ngIf="prediction; else elseBlock1">
    <div *ngIf="prediction >= 0.67; else elseBlock2">
        <div class="flex space-between item">
            <h1 class = "warning">{{ diseaseName | uppercase }}</h1>
            <h1 class = "warning">{{prediction*100}}%</h1>
        </div>
    </div>
    <ng-template #elseBlock2>
        <div class="flex space-between item">
            <h1>{{ diseaseName | uppercase }}</h1>
            <h1>{{prediction*100}}%</h1>
          </div>
    </ng-template>
</div>
<ng-template #elseBlock1>
    <div class="flex space-between item">
        <h1>{{ diseaseName | uppercase }}</h1>
        <h1>Unavailable</h1>   
    </div>
</ng-template>
