h2 {
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
    
}

.warning {
    color: red;
}

.green {
    color: var(--secondary-color);
}

item {
   padding : 3px;
   margin: 3px;
}

h2 {
    padding: 2px;
}