<div class="container">
<h1 class="title">Medical AI models overview</h1>

    <div class="model">
        <h1 class="model-title">
            Pneumonia
        </h1>
        <p class="model-info">
            ChexNet is used for pneumonia prediction. The model was created at Stanford University and trained with over 100,000 chest X-Rays. It has an average accuracy of 83%. Pneumonia is the strongest performing indicator of this model, but it predicts the probabilities of 14 diseases related the thoracic cavity and lungs. 

            Chexnet is an algorithm that can
detect pneumonia from chest X-rays at a level exceeding practicing radiologists. Our

algorithm, CheXNet, is a 121-layer convolutional neural network trained on ChestX-
ray14, currently the largest publicly available chest Xray dataset, containing over 100,000

frontalview X-ray images with 14 diseases. Four practicing academic radiologists annotate
a test set, on which we compare the performance of CheXNet to that of radiologists. We
find that CheXNet exceeds average radiologist performance on the F1 metric. We extend
CheXNet to detect all 14 diseases in ChestX-ray14 and achieve state of the art results
on all 14 diseases. ChexNet has a published accuracy of 83% on chest X-Rays to predict
pneumonia.
        </p>
    </div>

    <div class="model">
        <h1 class="model-title">
            COVID-19
        </h1>
        <p class="model-info">
            The deterioration of COVID-19 patients in hospitals is estimated using chest X-Rays.
During the coronavirus disease 2019 (COVID-19) pandemic, rapid and accurate triage of
patients at the emergency department is critical to inform decision-making. We propose
a data-driven approach for automatic prediction of deterioration risk using a deep neural
network that learns from chest X-ray images and a gradient boosting model that learns
from routine clinical variables. Our AI prognosis system, trained using data from 3,661
patients, achieves an area under the receiver operating characteristic curve (AUC) of 0.786
(95% CI: 0.745-0.830) when predicting deterioration within 96 hours. The deep neural
network extracts informative areas of chest X-ray images to assist clinicians in interpreting
the predictions and performs comparably to two radiologists in a reader study. In order to
verify performance in a real clinical setting, we silently deployed a preliminary version of
the deep neural network at New York University Langone Health during the first wave of
the pandemic, which produced accurate predictions in real-time. In summary, our findings
demonstrate the potential of the proposed system for assisting front-line physicians in the
triage of COVID-19 patients
        </p>
    </div>

    <div class="model">
        <h1 class="model-title">
            Cardiac Arrhythmia
        </h1>
        <p class="model-info">
            Electrocardiogram (ECG) gives useful information about morphological and functional
details of heart which is used to predict various cardiac diseases. In this paper a method
of detecting cardiac diseases using support vector machine (SVM) is proposed. In this
proposed method diseases are modeled using the time domain features of ECG signal
which are extracted using BIOPAC AcqKnowledge software. Raw ECG signal contains
these useful features which can be used to detect cardiac arrhythmia. The various ECG
parameters like heart rate, QRS complex, PR interval, ST segment elevation, ST interval
of ECG signal are used for analysis. Based on these parameters of ECG signal, different
heart disease like atrial fibrillation, sinus tachycardia, myocardial infarction and apnea
are detected. The individual accuracy of tachycardia arrhythmia, MI arrhythmia, atrial
fibrillation arrhythmia and apnea proposed by SVM are 83.3%, 86.4%, 88% and 85.7%
respectively.
        </p>
    </div>

</div>